.item-margin {
    margin-top: 20px;
  }

.img-margin {
    margin-top: 22px;
    margin-left: 22px;
}

.trash-margin {
    margin-top: 10px;
    margin-left: 38px;
}

.finish-section, .form-group {
    margin-top: 20px;
} 